<nav class="navbar navbar-dark bg-dark">
  <div class="w-100">
      <ul class="navbar-nav d-flex flex-row justify-content-evenly">
        <li class="nav-item">
          <a 
          routerLink="/home"
          class="nav-link"
          routerLinkActive="active"
          >Home</a>
        </li>
        <li class="nav-item">
          <a  
          class="nav-link"
          routerLinkActive="active"
          routerLink="/game">
          Game</a>
        </li>
      </ul>
    </div>
</nav>

