

.game-btn {
  border: 6px solid #00c0c5;
  border-radius: 50%;
  background: linear-gradient(5deg, black, #383838);
  padding: 10%;
  width: 20%;
  transition: border 0.3s;
  outline: none;
}

.game-btn:hover {
  background: linear-gradient(5deg, rgb(19, 19, 19), #4b4b4b);
  cursor: pointer;
}

.game-btn:active {
  border: 60px solid #00c0c5;
}